<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	<resultMap type="com.spring.shop.member.vo.MemberVO" id="member">
		<id column="ID" 			property="id" />
		<result column="PASSWORD" 	property="password" />
		<result column="NAME" 		property="name" />
		<result column="TELL" 		property="tell" />
		<result column="ADDR" 		property="addr" />
		<result column="GENDER" 	property="gender" />
		<result column="IS_ADMIN" 	property="isAdmin" />
		<result column="JOIN_DATE" 	property="joinDate" />
	</resultMap>
	
	<insert id="join">
		INSERT INTO BOOK_MEMBER (
			ID
			, PW
			, NAME
			, TELL
			, ADDR
			, GENDER
		) VALUES (
			#{id}
			, #{pw}		
			, #{name}		
			, #{tell}		
			, #{addr}		
			, #{gender}		
		)
	</insert>
	
	<select id="login" resultMap="member">
		SELECT ID, IS_ADMIN, NAME
		FROM BOOK_MEMBER
		WHERE ID = #{id}
		AND PW = #{pw}
	</select>
	
	<select id="isJoined" resultType="String">
		SELECT ID
		FROM BOOK_MEMBER
		WHERE ID = #{id}
	</select>
	
</mapper>












